<h1>This is the secret page</h1>

<p>You found me !</p>

<img src="https://cdn1-www.dogtime.com/assets/uploads/gallery/pembroke-welsh-corgi-dog-breed-pictures/prance-8.jpg" alt="">

<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
